$green: #8BD8BD;
$blue: #243665;
$white: whitesmoke;

header {
    background: $blue;

    .logo {
        font-weight: bold;
        font-family: 'Fahkwang', sans-serif;
        font-size: 3rem;
        transition-duration: .5s;
        color: $white;
        text-shadow: 1.5px 1.5px $green;
        &:hover {
        color: $white;
        text-decoration: none;
        font-size: 4rem;
        transition-duration: .5s;
        text-shadow: 2px 2px $green;
        }
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;
                    transition-duration: .5s;
                    display: flex;
                    justify-content: center;
                    border-radius: 10%;
                    color: $white;
                    text-shadow: 1px 1px $blue;

                    &:hover {
                        background: $green;
                        text-decoration: none;
                        transition-duration: .5s;
                        font-size: 1.5em;
                        text-shadow: 1px 1px $blue;
                    }
                }
            }
        }
    }
}