<div>
  <div>
    <canvas baseChart
            [datasets]="apocalypseData"
            [labels]="apocalypseLabels"
            [options]="apocalypseOptions"
            [legend]="apocalypseLegend"
            [chartType]="apocalypseType">
    </canvas>
  </div>
</div>

<div>
  <div>
    <canvas baseChart
            [datasets]="toiletPaperData"
            [labels]="toiletPaperLabels"
            [options]="toiletPaperOptions"
            [legend]="toiletPaperLegend"
            [chartType]="toiletPaperType">
    </canvas>
  </div>
</div>

<div>
  <div>
    <canvas baseChart
            [datasets]="hogwartsData"
            [labels]="hogwartsLabels"
            [options]="hogwartsOptions"
            [legend]="hogwartsLegend"
            [chartType]="hogwartsType">
    </canvas>
  </div>
</div>

<div>
  <div>
    <canvas baseChart
            [datasets]="clubFlixData"
            [labels]="clubFlixLabels"
            [options]="clubFlixOptions"
            [legend]="clubFlixLegend"
            [chartType]="clubFlixType">
    </canvas>
  </div>
</div>

<div>
  <div>
    <canvas baseChart
            [datasets]="campingResortData"
            [labels]="campingResortLabels"
            [options]="campingResortOptions"
            [legend]="campingResortLegend"
            [chartType]="campingResortType">
    </canvas>
  </div>
</div>

<div>
  <div>
    <canvas baseChart
            [datasets]="seasonData"
            [labels]="seasonLabels"
            [options]="seasonOptions"
            [legend]="seasonLegend"
            [chartType]="seasonType">
    </canvas>
  </div>
</div>