$green: #8BD8BD;
$blue: #243665;
$white: whitesmoke;

body {
    width: max;
    height: max;
    
    .container {
        border-style: solid;
        border-width: .5rem;
        border-color: $blue;
        border-radius: 50px;
        width: 60%;
        height: 70%;
        margin-top: 4%;
        box-shadow: 5px 10px $green;
        display: flex; 
        justify-content: center;
        flex-direction: column;
        align-content: center; 
    }
}