<div class="jumbotron-fluid">
    <h1 class="display-4" style="text-align:center">***Student's Name***</h1>
    <p class="lead">Determine *student's* fate below 😈</p>
    <hr class="my-4">
    <div class="main-container">
        <div class="col-md-6">
            <p>Would they survive the apocalypse?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    👍
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Definitely not.
                </label>
            </div>
            <br>
            <p>Do they crunch their toilet paper or do they fold it?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Crunch all day!
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Fold it neatly
                </label>
            </div>
            <br>
            <p>What Hogwarts house would they be sorted into?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Gryffindor
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Hufflepuff
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="option3">
                <label class="form-check-label" for="exampleRadios3">
                    Ravenclaw
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios4" value="option4">
                <label class="form-check-label" for="exampleRadios4">
                    Slytherin
                </label>
            </div>
            <br>
            <p>Are you more likely to find them dancing in the club or watching Netflix on the couch?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Club
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Netflix
                </label>
            </div>
            <br>
            <p>Camping in a tent or lounging at a resort?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Camping
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Resort
                </label>
            </div>
            <br>
            <p>If they were a season, which would they be?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Spring
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Summer
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios3" value="option3">
                <label class="form-check-label" for="exampleRadios3">
                    Fall
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios4" value="option4">
                <label class="form-check-label" for="exampleRadios4">
                    Winter
                </label>
            </div>
            <br>
        </div>
        <div class="col-md-6">
            <p>Do they have zero email notifications or 2,327?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Zero
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    2,327
                </label>
            </div>
            <br>
            <p>When approaching a yellow light, do they speed through it or stop?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Speed through!
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    ✋ Stop
                </label>
            </div>
            <br>
            <p>What was their favorite class in high school?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Science
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Math
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios3" value="optio33">
                <label class="form-check-label" for="exampleRadios3">
                    Gym
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios4" value="option4">
                <label class="form-check-label" for="exampleRadios4">
                    History
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios5" value="option5">
                <label class="form-check-label" for="exampleRadios5">
                    English
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios6" value="option6">
                <label class="form-check-label" for="exampleRadios6">
                    Arts
                </label>
            </div>
            <br>
            <p>If they were in a movie, what genre would it be?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios1" value="option1">
                <label class="form-check-label" for="exampleRadios1">
                    Drama
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Sci-fi
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios3" value="option3">
                <label class="form-check-label" for="exampleRadios3">
                    Action
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios4" value="option4">
                <label class="form-check-label" for="exampleRadios4">
                    Comedy
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios5" value="option5">
                <label class="form-check-label" for="exampleRadios5">
                    Romance
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios6" value="option6">
                <label class="form-check-label" for="exampleRadios6">
                    Horror
                </label>
            </div>
            <br>
        </div>
    </div>
    <a class="btn btn-lg" href="#" role="button" style="float: right;">See their FATE.</a>
</div>