<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ben Rumsey</h5>
        <p class="card-text">Would they go to the club or stay home and watch Netflix?</p>
        <p class="card-text">Netflix</p>
        <a href="#" class="btn btn-color">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reid Garner</h5>
        <p class="card-text">Would they go to the club or stay home and watch Netflix?</p>
        <p class="card-text">Club</p>
        <a href="#" class="btn btn-color">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bethany Mitch</h5>
        <p class="card-text">Would they go to the club or stay home and watch Netflix?</p>
        <p class="card-text">Club</p>
        <a href="#" class="btn btn-color">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">DeBronis Warren</h5>
        <p class="card-text">Would they go to the club or stay home and watch Netflix?</p>
        <p class="card-text">Netflix</p>
        <a href="#" class="btn btn-color">Learn More</a>
      </div>
    </div>
  </div>
</div>
