<div class="image" *ngIf="profiles">
    <div class="row" >
      <div class="col-sm-6" *ngFor="let profile of profiles">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{profile.first_name | titlecase}}</h5>
            <p class="card-text">Would they go to the club or stay home and watch Netflix?</p>
            <p class="card-text">Netflix</p>
            <a routerLink="/profile" class="btn btn-color">Learn More</a>
          </div>
        </div>
  </div>