$green: #8BD8BD;
$blue: #243665;
$white: whitesmoke;

.row {
    padding: 2em;
}

.btn-color {
    background-color: $blue; 
    color: $white; 
}

.card {
    margin: 1em 0em 1em 0em; 
    box-shadow: 5px 7px $green;
}